@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins";
  background-color: #ffff;
}

@theme {
  --color-primary: #1f8f6a;
  --color-secondary: #272727;
  --color-primary-background: #edf6f2;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1615874959474-d609969a20ed?auto=format&fit=crop&w1200&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}
